# IDEA

.idea/workspace.xml
.idea/sonarlint

# npm

node_modules

# gradle

.gradle
build

# Maven

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
buildNumber.properties
